/*bibl[sameAs]{
display:block;
    content:oxy_xpath(
    oxy_concat(
    "doc('${cfdu}/biblio-saint-omer.xml')//listBibl/biblStruct[contains(@xml:id, '", attr(sameAs),"')]/normalize-space(string())"
    )
    );
  }*/

bibl[sameAs]{
    display:block;
   color:#84bff9;
   font-size:x-small;
   content:"Voir référence bibliographique complète" oxy_button(transparent, false,
   action, oxy_action(
            id, inserBiblio_2));
}

/*  si on utilise xi:include, les données sont importées dans le document et on ne cherche que dans le document*/
bibl[sameAs]:after{
    content:"Reference bibliographique"
    oxy_combobox(edit, '#text', 
    values, 
    oxy_xpath(
    oxy_concat(
    "//listBibl/biblStruct[contains(@xml:id, '", attr(sameAs),"')]/normalize-space(string())"))
    editable,false,
    labels,
    oxy_xpath(
    oxy_concat(
    "//listBibl/biblStruct[contains(@xml:id, '", attr(sameAs),"')]/normalize-space(string())"))
    );
  }
  
/*  bibl[sameAs]{
    display:block;
    content:
    oxy_combobox(edit,
    oxy_xpath(
    oxy_concat('//listBibl/biblStruct[contains(@xml:id, '", attr(sameAs),"')]//normalize-space(string())')
    ), 
    editable, false
    )
}*/
  
  
/*p >  bibl:before{

content: "Reference-id"

oxy_combobox(edit, '@sameAs',
values,
oxy_xpath(
    oxy_concat(
        'string-join(doc("', oxy_url('${cfdu}/biblio-saint-omer.xml'), '")//listBibl/biblStruct[contains(@xml:id, substring-after("',attr(sameAs),'", "L"))]/@xml:id, ",")'
        )),
    editable, true,
    labels,
    oxy_xpath(
        oxy_concat(
            'string-join(doc("', oxy_url('${cfdu}/biblio-saint-omer.xml'), '")//listBibl/biblStruct[contains(@xml:id, substring-after("',attr(sameAs),'", "L"))]/@xml:id, ",")'
        ))
)
} */

p >  bibl:before{

content: "Reference-id"
oxy_combobox(edit, '@sameAs',
values,
oxy_xpath(
    oxy_concat(
        'string-join(//listBibl/biblStruct[contains(@xml:id, substring-after("',attr(sameAs),'", "#"))]/@xml:id, ",")'
        )),
    editable, true,
    labels,
    oxy_xpath(
        oxy_concat(
            'string-join(//listBibl/biblStruct[contains(@xml:id, substring-after("',attr(sameAs),'", "#"))]/@xml:id, ",")'
        ))
        ); 
} 


/*p > bibl:after{
    display:block;
   color:#84bff9;
   font-size:x-small;
    content:"Voir référence bibliographique complète" oxy_button(transparent, true,
   action, oxy_action(
            id, inserBiblio_2));
}*/

/*p >  bibl:after{
   display:block;
   color:#84bff9;
   font-size:x-small;
    content:"Voir référence bibliographique complète" oxy_button(transparent, true,
   action, oxy_action(
            id, inserBiblio_2));   
}*/

/* Le bouton fonctionne pour afficher la bibliographie mais crée un section après les balises <bibl> */

/*p >  bibl:after{
   display:block;
   color:#84bff9;
   font-size:x-small;
    content:"Voir référence bibliographique complète" oxy_button(transparent, true,
   action, oxy_action(
            id, 'section'));
            }*/
       
/* Le bouton fonction mais crée un pargraphe après la balise <bibl> */
/*p >  bibl:after{
   display:block;
   color:#84bff9;
   font-size:x-small;
    content:"Voir référence bibliographique complète" oxy_button(transparent, true,
   action, oxy_action(
            id, 'paragraph'));
            }*/
            
/*body >  p:before{
   display:block;
   color:#84bff9;
   font-size:x-small;
    content:"Voir référence bibliographique complète" oxy_button(transparent, true,
   action, oxy_action(
            id, 'paragraph'));
            }*/
            
/*p >  bibl:after{
   display:block;
   color:#84bff9;
   font-size:x-small;
    content:"Voir référence bibliographique complète" oxy_button(transparent, true,
   action, oxy_action(
            id, 'paragraph'));
            }*/
            
listPlace{
background-color:pink;
display:block;

}

biblStruct{
    display:list-item;
}

p > placeName:after{
    content:"     index"
    oxy_popup(edit, '@ref', 
    values, 
    oxy_xpath('string-join(//listPlace/place/@xml:id, ",")'),
    selectionMode, single,
    labels,
    oxy_xpath('string-join(//listPlace/place/placeName[1], ",")')
)
}

summary:after, msItem:last-of-type:after{
   display:block;
   color:#84bff9;
   font-size:x-small;
    content:"Ajouter un texte" oxy_button(transparent, true,
   action, oxy_action(
            id, 'inserTEI_msItem'));
            }
 
